//COLOR MAP
$colors: (
  primary: #2AABFF,
  secondary: #1ACCE8,
  tertiary: #1CFFE0,
  dark:#1A5FE8,
  darker: #1C2DFF
);

//TEXT VARIABLES
$titles: 'Roboto Condensed', sans-serif;

//FONT SIZE
$font-title: 2.5rem;
$font-subtitle: 2rem;
